.main-container {
  padding-top: 3vh;
}

.main-row {
  margin: 0px;
}

.container {
  padding: 0px;
}

.left-main {
  max-height: 80vh;
  padding: 0px;
}

.right-main {
  max-height: 80vh;
  padding: 0px;
}

.footer-row{
  margin: 0px;
}

.box {
  margin-right: 1vh;
  margin-left: 1vh;
  opacity: 1;
  overflow: scroll;
}

@media (max-width: 768px) {
  .box {
    height: 75vh !important;
  }
}

.box-header {
  margin: 0px;
  padding: 10px 20px;
  color: #ffffff;
}

.box-body {
  margin: 20px 10px;
}

