.todo-container {
  background: #212a33;
  padding: 20px;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  opacity: 1;
  max-height: 40vh;
  overflow: scroll;
}

.todo-header {
  margin-bottom: 3%;
  padding-left: 20px;
  padding-top: 10px;
  background-color: mediumpurple;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;

}

.todo-body {
  background-color: #ccccff;
  padding: 20px;
}

.todo-add-button {
  background-color: #ccccff;
  font-size: 2em;
  padding: 0px;
  border: none;
}

.todo-add-button:focus, .todo-add-button:active, .todo-add-button:hover{
  background-color: #ccccff !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  outline: none;
}

#todo-form-input {
  background: #ccf;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

#todos {
  margin-top: 10px;
}

.todo-element label {
  font-weight: normal;
}

.checkbox-round {
  margin: 5px 7px 5px 5px !important;

  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #777777;
}

.checkbox-round:active, .checkbox-round:focus {
  outline: none !important;
}