.notes-container {
  background-color: #FFFFA5;
  padding: 30px;
  -moz-box-shadow:6px 6px 8px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 6px 6px 8px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 6px 6px 8px rgba(33,33,33,.7);
}

.notes-box-body {
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size: 1.8em;
}