.notes-container {
  background-color: #ffffa5;
  padding: 30px;
  box-shadow: 6px 6px 8px rgba(33,33,33,.7);
}

.notes-box-body {

}

.note-field{
  width: 100%;
  resize: none;
  background-color: #ffffa5;
  border-width: 0px;
}

.note-field:focus, .note-field:active {
  outline: none !important;
}

#deleteBtn {
  outline: none !important;
}