.notes-container {
  background-color: #212a33;
  box-shadow: 6px 6px 8px rgba(33,33,33,.7);
  height: 45vh;
}

.inner-notes-container {
  background-color: #ffffa5;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 6px 6px 8px rgba(33,33,33,.7);
}

.notes-header {
  background-color: #F5D76E;
}

.note-field{
  width: 100%;
  resize: none;
  background-color: #ffffa5;
  border-width: 0px;
}

.note-field:focus, .note-field:active {
  outline: none !important;
}

.remove-note {
  background-color: #ffffa5;
  box-shadow: none;
  border: none;
  float: right;
  margin-top: -20px;
  margin-right: -20px;
}

.remove-note:hover, .remove-note:active, .remove-note:focus {
  background-color: #ffffa5 !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}